{#TWIG_DOC
    title: snippet
    description: snippet description
    category: MainCategory
    sub_category: SubCategory2
    tags:
        - snippet
    parameters:
        value: String
    variations:
        default:
            value: dataValue
TWIG_DOC#}
<div data-value="{{ value }}">Snippet</div>
