{% extends '@TwigDoc/documentation.html.twig' %}

{% block body %}
    <h1>Invalid Components</h1>
    <p>Here you will find all components from configuration that are invalid and cannot be rendered.</p>
    {% if not getInvalidComponents() %}
        <h2>
            Configuration is OK, no invalid components found!
        </h2>
    {% endif %}
    {% for component in getInvalidComponents() %}
        {% include '@TwigDoc/component/_invalid_component.html.twig' %}
    {% endfor %}
{% endblock %}
