{% if parameter is iterable %}
    <ul>
        {% for key, value in parameter %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
{% else %}
    {{ parameter }}
{% endif %}
