<div class="twig-doc-variation">
    <div class="twig-doc-component-variation">
        {{ renderComponent(component, variation)|raw }}
    </div>
    <div class="twig-doc-variation-description">
        <ul>
            {% for key, value in variation %}
                <li>
                    <b>{{ key }}:</b>
                    {% include '@TwigDoc/component/_parameter.html.twig' with {parameter: value} %}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
