<div class="twig-doc-viewport" style="width: {{ width }}px">
    <iframe class="twig-doc-iframe"
            src="{{ path('_documentation_component_view', {name: component.name, data: componentData, quantity: quantity}) }}"
    >
    </iframe>
</div>
