<div class="twig-doc-viewport">
    <iframe class="twig-doc-iframe"
            src="{{ path('_documentation_component_view', {name: component.name, data: componentData, quantity: 1}) }}"
    >
    </iframe>
</div>
