<html lang="en">
{% block head %}
    {% block stylesheets %}
        <style>
            {{ include('@TwigDoc/style/style.css.twig') }}
        </style>
    {% endblock %}
    <title>{% block title %}Twig Component Documentation{% endblock %}</title>
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
{% endblock %}
</html>

<body>
    {% block body '' %}
</body>
