<html lang="en">
{% block head %}
    {% block stylesheets %}
    {% endblock %}
    <title>{% block title %}Twig Component Documentation{% endblock %}</title>
    {% block javascripts %}
    {% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}
</html>

<body>
    {% for i in 1..quantity %}
        {{ renderComponent(component, componentData ?? [])|raw }}
    {% endfor %}
</body>
