{% use '@TwigDoc/blocks/component_blocks.html.twig' %}
<!DOCTYPE html>
<html lang="{{ block('language') }}">
    <head>
        {{ block('head') }}
    </head>
</html>

<body>
    {{ block('component') }}
</body>
